  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
  :root{
      --color-red: 220 102 85;
      --color-brown: 77 59 59;
      --tw-bg-opacity: 0.1;
      --brown: #460d02f1;
      --red: #671200;
      --beige: #f2c19d
      

  }
  *{
    font-family: "Roboto", sans-serif !important;
  }
  .container{
    max-width: 1320px !important;
    padding: 0 20px !important;
  }
  body{
 background: linear-gradient(135deg, rgba(197, 109, 82, 0.192) 0%, rgba(228, 139, 110, 0.226) 100%);
    background-blend-mode: saturation;
    background-size: cover;
    content: "";
    height: auto;
  }
  a{
    text-decoration: none;
  }
  header{
    /* background: linear-gradient(90deg, #fceae4, #f5e6f5), linear-gradient(180deg, #fbf8f200 70%, #fbf8f2 95%); */
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
  }
  /* header.scrolled {
    box-shadow: 10px -6px 15px black;
  } */
  .header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
    transition: .3s
  }
  .header-top.active {    
    background: #fff;
    padding: 24px 20px;
    border-radius: 12px 12px 0 0;}
  .logo-side{
    display: flex;
    align-items: center; 
    gap: 18px;
  }
  #logoheader svg{
    width: 172px;
    height: 40px;
  }
  .line{
    height: 32px;
    width: 1px;
    background-color: var(--brown);
    opacity: .2;
  }
  .logo-side p{
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
  }
  .header-icons{
    display: flex;
    gap: 10px;
    position: relative;
    align-items:center
  }
  .header-icons::after{
    position: absolute;
    content: "";
    top: 50%;
    left: -15px;
    border-radius:50%;
    height: 8px;
    width: 8px;
    transform: translate(0, -50%);
    background-color: var(--brown)
  }
  .header-icons-text{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 18px
    }
  .header-icons-text span{
    font-weight: 700;
    font-size: 18px;;
  }
  .icons-side{
    display: flex;
    gap: 10px;
    align-items:center
  }
    .icons-sidet svg, .icons-side path{
    fill: var(--brown)!important;
    height: 23px;
    width: 23px;
  }
  .icons-side a {
    padding: 9px;
    background-color: rgb(var(--color-red) / var(--tw-bg-opacity));
    border-radius: 12px;
    transition-duration: .2s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
  }
    .icons-side a:hover{
    background-color: rgb(var(--color-red) / .2);
  }
  .header-phone-side{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items:flex-start
  }
  #phone-header{
    color: #333;
    font-size: 20px;
    font-weight: 700;
  }
   .header-phone-side a{
    color: var(--brown);
    font-size: 16px;
   }

  .header-right{
    display: flex;
    gap: 18px;
    align-items: center
  }
  .header-right svg, .header-right path{
    fill: #671200!important;
    height: 23px;
    width: 23px;
  }
  .header-right a , .header-right #iconheader a{
    padding: 9px;
    background-color: rgb(var(--color-red) / var(--tw-bg-opacity));
    border-radius: 12px;
    transition-duration: .2s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
  }
  .header-right div{
    display: flex;
    align-items: center;
    gap: 9px;
    font-size: 14px;
    font-weight: 600;
    color: var(--brown)
  }
  .header-right div a{
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
  }
  .header-right a:hover{
    background-color: rgb(var(--color-red) / .2);
  }
  .header-right #iconheader:hover  a{
    background-color: rgb(var(--color-red) / .2); 
  }
  .header-right #iconheader:hover p{
    color: var(--red)
  }
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--brown);
    height: 72px;
    border-radius:12px;
    padding: 0 30px;
    transition: .3s;
  }

  nav.active {border-radius: 0 0 12px 12px;}
  nav .line{
    background-color: var(--beige)
  }
  nav a{
    font-size: 15px;
    color: var(--beige);
    background-color: transparent;
    border-radius: 12px;
    padding: 9px 16px;
  }
  nav a:hover{
    color: #fff;
    background-color: #ffffff1a;
  }
  .navhosting{
    align-items: center;
    background-color: #ffffff1a;
    border-radius: 12px;
    display: flex;
    gap: 4px;
    padding: 9px 16px;
  }
  .navhosting:hover svg{
    fill: #fff;
  }
  .hero-section {
    margin-top: 200px;
  padding: 80px 0;
  overflow: hidden;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.hero-text {
  flex: 1;
  max-width: 600px;
}

.hero-subtitle {
  font-size: 24px;
  font-weight: 700;
  color: var(--red);
  margin-bottom: 12px;
  opacity: 0;
  transform: translateX(-50px);
  animation: fadeInLeft 0.8s ease forwards 0.2s;
  text-transform: uppercase;
}

.hero-title {
  font-size: 64px;
  font-weight: 800;
  color: var(--brown);
  margin-bottom: 24px;
  line-height: 1.1;
  opacity: 0;
  transform: translateX(-50px);
  animation: fadeInLeft 0.8s ease forwards 0.5s;
  text-transform: uppercase;
}

.hero-desc {
  font-size: 18px;
  color: #444;
  line-height: 1.6;
  margin-bottom: 40px;
  opacity: 0;
  transform: translateX(-50px);
  animation: fadeInLeft 0.8s ease forwards 0.8s;
}

.hero-buttons {
  display: flex;
  gap: 20px;
  opacity: 0;
  transform: translateX(-50px);
  animation: fadeInLeft 1.5s ease forwards 1.1s;
}



.btn-outline {
  border: 2px solid var(--brown);
  color: var(--brown);
  font-weight: 700;
  text-decoration: none;
  padding: 12px 30px;
  border-radius: 4.5px;
  display: flex;
  justify-content: center;
  align-items:center;
  transition: all 0.3s ease;
  width: fit-content;
  position: relative;
}
.btn-outline:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: var(--brown);
  z-index: -1;
}

.btn-outline:hover, .btn-outline:focus {
  color: #fff;
}

.btn-outline:hover:before, .btn-outline:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.btn-outline:active {
  transform: scale(0.9);
}

.hero-image {
  flex: 1;
  text-align: right;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#logoheader img{
      height: 80px;
    width: 120px;
    object-fit: contain;
}

.hero-image img {
  max-width: 320px;
  width: 100%;
  /* animation: float 4s ease-in-out infinite; */
}

/* === Animations === */
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}



  .services-section{
    position: relative;
    z-index: 999;
    margin-bottom: 40px;
  }

.services-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

.service-card {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background: #fff;
  border-radius: 12px;
  padding: 36px;
  box-shadow: 0 8px 26px rgba(0, 0, 0, 0.05);
  transition: all 0.4s ease;
  position: relative;
  overflow: hidden;

}

.service-card:hover {
  /* transform: translateY(-6px); */
  /* box-shadow: 0 10px 32px rgba(0, 0, 0, 0.08); */
}

.card-left {
  /* max-width: 380px; */
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-left h2 {
  font-size: 35px;
  font-weight: 700;
  color: var(--brown);
  margin-bottom: 18px;
  line-height: 120% !important;
}

.card-left p {
  font-size: 18px;
  color: #4c3f3f;
  line-height: 1.6;
  margin-bottom: 28px;
}

/* .btn-main {
  display: flex;
  background-color: var(--red);
  color: #fff;
  font-weight: 700;
  border-radius: 4.5px;
  padding: 0 24px;
  text-decoration: none;
  transition: background 0.3s ease;
  font-size: 12px;
  line-height: 20px;
    min-height: 48px;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: fit-content;
} */

/* .btn-main:hover {
  --tw-bg-opacity: 1 !important;
    background-color: rgb(252 119 100 / var(--tw-bg-opacity)) !important;
} */
 /* From Uiverse.io by adamgiebl */ 
.btn-main {
  font-weight: 700;
  border-radius: 4.5px;
  padding: 0 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  border: 2px solid var(--brown);
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: #fff;
  background-color: var(--brown);
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
  width: fit-content;
  display: flex;
  align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
  line-height: 20px;
    min-height: 48px;
    position: relative;
}

.btn-main:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #fff;
  z-index: -1;
}

.btn-main:hover, .btn-main:focus {
  color:var(--brown);
}

.btn-main:hover:before, .btn-main:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

.btn-main:active {
  transform: scale(0.9);
}
.hero-buttons{
  display: flex;
  gap: 15px;
}
.card-right {
  position: relative;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.price {
  font-size: 16px;
  color: #5b4a4a;
  text-align: right;
}

.price-value {
  font-size: 27px;
  font-weight: 700;
  color: #3a2a2a;
}

.price-sub {
  font-size: 13.5px;
  opacity: 0.6;
}

.card-img {
      width: 270px;
    height: 270px;
    opacity: 1;
    position: absolute;
    bottom: -23px;
    left: -71px;

}


#fetures-section{
  padding: 30px 0;
}

#fetures-section .fetures-place{
    text-align: center;
    background: #fff;
    margin: -10px 0;
    padding: 30px 20px;
    -webkit-box-shadow: 0px 0px 43px -1px rgba(0,0,0,0.04);
    -moz-box-shadow: 0px 0px 43px -1px rgba(0,0,0,0.04);
    box-shadow: 0px 0px 43px -1px rgba(0, 0, 0, 0.04);
    position: relative;
    padding-bottom: 0;
	-webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
	width:100%;
  display: flex;
      flex-direction: column;
    justify-content: space-between;
    min-height: 340px;
}
.rows{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 40px;
  column-gap: 30px;
  align-items: stretch
}

#fetures-section .fetures-place i:before{
    font-size: 70px;
    margin-left: 0;
    color: #264b65;
    z-index: 3;
    position: relative;
		-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
#fetures-section .fetures-place:hover i:before{
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
    color: #fff;
}

#fetures-section .fetures-place h5{
        font-size: 23px;
    margin-top: -5px;
    margin-bottom: 13px;
    z-index: 3;
    position: relative;
    color: var(--brown);
    font-weight: 700;
    text-transform: uppercase;
}

#fetures-section .fetures-place:hover h5{
	color: #fff;
}
#fetures-section .fetures-place p{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    color: #c4cdd4;
    margin-top: -7px;
    z-index: 3;
    position: relative;
}


#fetures-section .fetures-place:hover p{
    color: #fff;
}
#fetures-section .btn-main{
  width: 100%;
  position: relative;
  z-index: 10;
}
.fetures-place:hover .icon svg{
  fill: #fff
}
.fetures-place:hover .icon path{
  fill: #fff
}

.icon{
  position: relative;
  z-index: 7;
  transition: .5s all;
}
.icon svg, .icon path{
  transition: .1s;
}


/* #fetures-section .fetures-place a{
    display: block;
    margin: 0 -20px;
    padding: 11px;
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
    margin-top: 35px;
    background: rgb(55,90,113);
    background: rgb(12,40,59);
    background: -moz-linear-gradient(top, rgba(12,40,59,1) 0%, rgba(0,35,58,1) 100%);
    background: -webkit-linear-gradient(top, rgba(12,40,59,1) 0%,rgba(0,35,58,1) 100%);
    background: linear-gradient(to bottom, rgba(12,40,59,1) 0%,rgba(0,35,58,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c283b', endColorstr='#00233a',GradientType=0 );
    opacity: 1;
    z-index: 3;
    position: relative;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
} */



/* #fetures-section .fetures-place a:hover{
   background: rgb(18,42,58); /* Old browsers */ 

.icon{
  margin-bottom: 20px;
}

#fetures-section .fetures-place{
  display: flex;
  border: none;
  position: relative;
  overflow: hidden;
      border-radius: 12px;
    box-shadow: 0 8px 26px rgba(0, 0, 0, 0.05);
}
#fetures-section .fetures-place span{
    line-height: 20px;
    color: #333;
    font-size: 15px;
    z-index: 3;
    position: relative;
    padding: 10px 0;
  
}
#fetures-section .fetures-place:hover span{
    color: #fff;
}

#fetures-section .fetures-place:before {
  content: '';
  background: var(--red);
  width: 900px;
  height: 600px;
  position: absolute;
  -webkit-transform: translate(-1000px, -400px) rotate(130deg);
          transform: translate(-1000px, -400px) rotate(130deg);
  -webkit-transition: all 700ms ease;
  transition: all 700ms ease;
  z-index:0;
}
#fetures-section .fetures-place:after {
  content: attr(data-word);
  color: white;
  font-size: 2em;
  position: relative;
  z-index: 100;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-weight: 200;
}
#fetures-section .fetures-place:hover:after {
  font-size: 2.2em;
}
#fetures-section .fetures-place:hover:before {
    -webkit-transform: translate(-290px, -400px) rotate(130deg);
    transform: translate(-290px, -400px) rotate(130deg);
}



/* Responsive */
@media (max-width: 992px) {
  .hero-container {
    flex-direction: column;
    text-align: center;
  }
  .hero-image {
    text-align: center;
  }
  .hero-title {
    font-size: 48px;
  }
}

:root {
  --color-black: #000000;
  --color-black-text: #1B1B26;
  --color-white: #FFFFFF;
  --color-primary: #00A7AA;
  --color-primary-hover: #E2F5F6;
  --color-primary-disabled: #80D3D5;
  --color-secondary: #F85077;
  --color-secondary-hover: #FFEEF2;
  --color-secondary-disabled: #FE8EA8;
  --color-bg: #F0F5F6;
  --border: 1px solid var(--color-primary);
  --border-radius: 60px;
  --border-radius-small: 40px;
  --container-width: 1332px;
}

#faq {
    margin-bottom:60px;
}
#faq  h2 {
    font-size: 40px;
    font-weight: 900;
}
.questions {
    padding: 30px 0;
}

/* .section-color {
  background-color: #f6f8f7;
} */

.title {
  font-size: clamp(26px, 3.0769230769vw, 40px);
  line-height: 130%;
  color: var(--color-black);
  font-weight: 700;
  margin-bottom:20px;
  text-align: center;
}
.accordion__block {
  margin-bottom: 16px;
  background-color: var(--color-white);
  border-radius: 24px;
}
.accordion__summary {
  list-style: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  position: relative;
  width: 100%;
  background-color: var(--color-white);
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 20px;
  border-radius: 4.5px;
}
.accordion__summary span {
  width: 36px;
  height: 36px;
  background-color: inherit;
  border: 1px solid var(--color-black);
  display: block;
  border-radius: 50%;
  position: relative;
  transition: transform 0.2s ease-out;
  flex: none;
}
.accordion__summary span::after, .accordion__summary span::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 2px;
  top: 50%;
  background-color: var(--color-black);
  transition: transform 0.2s ease-out;
}
.accordion__summary span::after {
  left: 10px;
}
.accordion__summary span::before {
  left: 10px;
  transform: rotate(90deg);
}
.accordion__content {
  display: grid;
  grid-template-rows: 0fr;
  transition-duration: 0.5s;
  background-color: var(--color-white);
  opacity: 0;
  padding-right: 20px;
  padding: 0px 20px;
  border-bottom-right-radius: 4.5px;
  border-bottom-left-radius:4.5px;
}
.accordion__content_body {
  overflow: hidden;
  font-weight: 600;
  line-height: 140%;
  font-size:15px;
}
.accordion__title {
    font-weight: 600;
    font-size: 1.125rem;
}
.accordion__content_body p {
    font-size: 17px;
    font-weight: 400;
}
.accordion__details[open] .accordion__summary span {
  border: 1px solid var(--brown);
}
.accordion__details[open] .accordion__summary span::after {
  background-color: var(--red);
}
.accordion__details[open] .accordion__summary span::before {
  transform: rotate(0deg);
  background-color: var(--color-secondary);
}
.accordion__details[open] + .accordion__content {
  grid-template-rows: 1fr;
  opacity: 1;
  padding-bottom: 24px;
}